*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    text-decoration: none;
}
#quemsomos{
    display: flex;
    justify-content: center;
}
p{
    padding-top: 100px;
    width: 50vw;
    font-weight: bold;
    text-align: justify;
}    
header {
    background-color: #a8adb9;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
    -webkit-box-align: center;
    top: 50px;
    left: 0px;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    position: fixed;
    right: 0px;
    z-index: 5;
    
}

#h1Header {
    color:#1F325B;
    font-weight: lighter;
}


.menu-nav {
    display: flex;
    justify-content: space-evenly;
}

.menu-nav a li:hover {
    color: #1F325B;
}

.menu-nav li {
    list-style: none;
    margin-right: 2em;
    color: white;
    font-weight: normal;
   
}



