*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    text-decoration: none;
}

body{
    background-image: url(./img/logo1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#quemsomos{
    display: flex;
    justify-content: center;
    
}

p{
    padding-top: 120px;
    width: 50vw;
    font-weight: normal;
    text-align: justify;
}    

#logo{
    width: 350px;
    height: 250px;
    margin-top: 60px;
}

header {
    background-color: #a8adb9;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section p {
    padding-top: 100px;
    width: 50vw;
}

#h1Header {
    color: white;
    font-weight: lighter;
}

.menu-nav {
    display: flex;
    justify-content: space-evenly;
}

.menu-nav a li:hover {
    color: #1F325B;
}

.menu-nav li {
    list-style: none;
    margin-right: 2em;
    color: white;
    font-weight: normal;
   
}

footer {
    background-color: #1F325B;
    height: 15vh;
    display: flex;
    margin-top: -50px;
    -webkit-box-align: center;
    align-items: center;
    bottom: 0px;
    left: 0px;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    position: fixed;
    right: 0px;
    z-index: 5;
    justify-content: space-around;
}

footer h3, footer h2 {
    color: white;
    display: flex;
}

.footer-redes {
    display: flex;
    list-style: none;
    margin-top: 2vh;
}

.footer-redes li {
    margin-right: 2vw;
}


.footer-redes li a img {
    color: white;
    width: 100%;
    border: 2px solid white;
    padding: 5px;
}

.footer-redes li a img:hover {
    border-color: #a8adb9;
}





