
* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    text-decoration: none;
}

#nosso-time {
    display: flex;
    justify-content: space-around;
}
  

body{
    background-image: url(./img/logo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}


#quemsomos{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

#contato {
    padding-top: 5rem;
    text-align: center;
    padding-bottom: 10rem;
}




input[type=text] {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
    resize: none;
  }

  textarea {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 7px;
    resize: none;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bolder;
    color: #1F325B;
  }
  
  input[type=submit] {
    background-color: #A8ADB9;
    font-weight: bolder;
    color: #1F325B;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  input[type=submit]:hover {
    background-color: #D65312;
  }

p {
    padding-top: 5rem;
    width: 50vw;
    font-weight: normal;
    text-align: justify;
}    

#logo{
    width: 350px;
    height: 250px;
    margin-right: 20px;
}


header {
    background-color: #a8adb9;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
    -webkit-box-align: center;
    top: 50px;
    left: 0px;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    position: fixed;
    right: 0px;
    z-index: 5;
}


section p {
    width: 10vw;
}

#somos {
    width: 30vw;
    padding-bottom: 15rem;
    line-height: 24px;
    padding-top: 200px;
    text-align: center;
    
}

#h1Header {
    color: white;
    font-weight: lighter;
}

.menu-nav {
    display: flex;
    justify-content: space-evenly;
}

.menu-nav a li:hover {
    color: #1F325B;
}

.menu-nav li {
    list-style: none;
    margin-right: 2em;
    color: white;
    font-weight: normal;
   
}

footer {
    background-color: #1F325B;
    height: 15vh;
    display: flex;
    margin-top: -50px;
    -webkit-box-align: center;
    align-items: center;
    bottom: 0px;
    left: 0px;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    position: fixed;
    right: 0px;
    z-index: 5;
    justify-content: space-around;
}

footer h3, footer h2 {
    color: white;
    display: flex;
}

.footer-redes {
    display: flex;
    list-style: none;
    margin-top: 2vh;
}

.footer-redes li {
    margin-right: 2vw;
}


.footer-redes li a img {
    color: white;
    width: 100%;
    border: 2px solid white;
    padding: 5px;
}

.footer-redes li a img:hover {
    border-color: #a8adb9;
}

#facebook {
    width: 38px;
    height: 38px;
}

@media screen and (max-width: 380px) {


    body {
        background-image: none;
    }

    figcaption {    
        display: flex;
        justify-content: center;
    }
    #h1Header {
        font-size: 1rem;
        margin-right: 2em;
    }

    .menu-nav li {
        font-size: 0.7rem
    }

    #logo {
        display: flex;
        align-self: center;
        padding-bottom: 50px;
    
    }

    #somos {
        width: 80vw;
        font-size: 14px;
        display: flex;
        align-self: center;
        text-align: center;
        padding-bottom: 5rem;
    }

    #contato {
        display: flex;
        justify-content: center;
    }

    #h1Header {
        display: none;
    }

    #h2contato {
        font-size: 12px;

    }

    section, footer, #nosso-time {
        flex-direction: column;
    }

    /* Form */

    input[type=text], textarea {
        width: 80vw;
    }

    /* Footer */

    footer {
        height: 25vh;
        position: relative;
    }

    .footer-redes {
        justify-content: center;
    }

    .footer-redes li {
        display: flex;
    }

    .footer-redes li a img{
        width: 30px;
    }

    #nosso-time {
        align-items: center;
    }

    #facebook {
        width: 30px;
        height: 30px;
    }

    .div-footer {
        flex-direction: column;
        display: flex;
    }

    
}





